# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore simplecov test coverage output
coverage

# Ignore application configuration
/config/application.yml

.DS_Store
